:root {
  --primary: #f8dbb5;
  --secondary: #f0b879;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--primary);
  font-family: 'Kalam', cursive;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 25px;
  justify-content: center;
}

.container > * {
  border-bottom: 1px solid #da810d;
  padding: 0.7em;
}

.title-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title-section h1 {
  font-size: 25px;
  color: #da810d;
}

input {
  border-color: transparent;
  padding: 0.7em;
  outline: none;
}

.input-task {
  width: 90%;
  position: relative;
}

.input-field {
  position: relative;
  margin: 1em 0;
  display: flex;
  align-items: center;
}

.input-field label {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 16px;
  color: #555;
  pointer-events: none;
  transition: 0.2s ease-out;
}

.input-field input:focus ~ label {
  top: -20px;
  left: 2px;
  color: #777;
  font-size: 14px;
}

#addBtn {
  width: 11%;
  font-size: 2rem;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.list-container-section {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.list-container-section li {
  display: flex;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
  border-bottom: 1px solid #ccc;
}

.todo-list {
  padding-left: 0;
}

.clear-completed {
  width: 100%;
  padding: 0.5em;
}

.clear-completed:hover {
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 88%);
  color: #f1eaea;
}

.task i {
  margin-left: auto;
}

.fa-ellipsis-vertical:hover {
  cursor: move;
}
